body {
    font-family: 'Karla', sans-serif;
}
p {
    color: #D6C068;
    font-size: 20px;
}
/* index */
.title {
    margin-top: 195px;
    margin-bottom: 195px;
    text-align: center;
}
    #name {
        font-size: 20px;
    }

    .link{
        font-size: 30px;
        text-decoration: none;
        padding-right: 2%;
    }
        a:link {
            color: green;
        }
        a:visited{
            color: #D6C068;
        }
        a:hover {
            color: #F0D775;
        }
        a:active {
            color: #D6C068;
        }

/* about */
.title-about {
    margin-top: 150px;
    margin-bottom: 150px;
    text-align: left;
}
#about-words {
    padding-right: 20%;
}

/* projects */


/* image overlay stuff */
.container {
    position: relative;
    width: 22.5%;
}
.projects-pic {
    width: 300px;
    height: 150px;
    display: block;
}
td {
    width: 350px;
}
